* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: inherit;
    font-weight: 400;
}

.background-color {
    background-color: #111;
}

.flex-center {
    display: flex;
    align-items: center;
}

.container {
    justify-content: space-between;
    height: 56px;
    padding: 0 16px;
}

.container__menu {
    width: 40px;
    height: 40px;

}

.container__menu:hover {
    background: #fff;
    border-radius: 50%;
}

.img-menu:hover {
    color: grey;
}

.container__img_youtube {
    width: 38px;
    height: 30px;
    margin-left: 20px;
}

.txt-youtube {
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.txt-by {
    color: aliceblue;
    font-size: 10px;
    padding-bottom: 18px;
    font-family: Roboto, Arial, sans-serif;
    cursor: pointer;
}

.container__center {
    flex-basis: 49%;
}

.form {
    flex: 1;
    border: 1px solid gray;
    border-radius: 40px 0 0 40px;
    padding: 0px 4px 0px 16px;
    margin-left: 32px;
    height: 40px;
    cursor: text;
}

.search-input {
    width: 100%;
    font-size: 18px;
    align-self: center;
    color: #d7d2d2;
}

.container__btn-search {
    border: 1px solid gray;
    border-radius: 0 40px 40px 0;
    height: 40px;
    width: 64px;
    background-color: rgb(38, 38, 38);
}

.container__img-search {
    width: 22px;
    height: 22px;
}

.container__btn-voice {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(47, 46, 46);
}

.container__img-voice {
    width: 24px;
    height: 24px;
}

.container__btn-voice:hover {
    background-color: #fff;
}

.container__btn-settings {
    width: 30px;
    position: relative;
    right: 10px;
}

.container__btn-enter {
    border-radius: 40px;
    border: 1px solid grey;
    height: 36px;
    width: 96px;
}

.container__btn-enter:hover {
    background-color: #c6e1f8;
}

.container__txt-enter {
    position: relative;
    top: 4px;
    left: 3px;
    font-size: 14px;
    color: #3ea6ff;
    font-weight: 700;
}